<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Principal Administrador</title>

    <!-- Custom fonts for this template-->
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">
    <link rel="stylesheet" th:href="@{/assets/vendor/fontawesome-free/css/all.min.css}">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link rel="stylesheet" th:href="@{/assets/css/sb-admin-2.min.css}">

    <!--Google-->
    <script type="module" th:src="@{/assets/js/ControlUserGoogle.js}"></script>

    <!-- Agrega jQuery -->
    <script th:src="@{/assets/vendor/jquery/jquery.min.js}"></script>

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <div th:include="layout/slidebar :: slidebar"></div>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- NavBar -->
                <div th:include="layout/navbar :: navbar"></div>
                <!--Fin NavBar-->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!--Contenido-->

                    <!-- Modal para asignar grado y sección -->
                    <!-- Modal para asignar grado y sección -->
                    <div class="modal fade" id="asignarModal" tabindex="-1" role="dialog"
                        aria-labelledby="asignarModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="asignarModalLabel">Asignar Grado y Sección</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <!-- Datos del estudiante a asignar -->
                                    <input type="hidden" id="estudianteId">
                                    <p><strong>Nombre:</strong> <span id="estudianteNombre"></span></p>
                                    <p><strong>Apellido:</strong> <span id="estudianteApellido"></span></p>
                                    <p><strong>Grado:</strong> <span id="estudianteGrado"></span></p>
                                    <p><strong>Sección:</strong> <span id="estudianteSeccion"></span></p>

                                    <!-- Campos para asignar grado y sección al estudiante -->
                                    <div class="form-group">
                                        <label for="selectGrado">Seleccionar Grado:</label>
                                        <select class="form-control" id="selectGrado">
                                            <!-- Utilizar Thymeleaf para iterar sobre los grados -->
                                            <option value=""> Seleccionar Grado</option>
                                            <option th:each="grado : ${grados}" th:value="${grado.id}"
                                                th:text="${grado.nombreGrado}"></option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="selectSeccion">Sección:</label>
                                        <select class="form-control" id="selectSeccion">
                                            <option value="">Seleccione una sección...</option>
                                            <!-- Las secciones serán cargadas dinámicamente mediante JavaScript -->
                                        </select>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-dismiss="modal">Cancelar</button>
                                    <button type="button" class="btn btn-primary"
                                        id="btnGuardarAsignacion">Guardar</button>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-xl-12 col-lg-12">
                            <div class="card shadow rounded-lg">
                                <h4 class="card-header bg-primary text-white">Lista de Estudiantes</h4>
                                <div class="card-body">
                                    <div class="form-group">
                                        <label for="filtroGradoSeccion">Filtrar por:</label>
                                        <select class="form-control" id="filtroGradoSeccion">
                                            <option value="todos">Mostrar Todos</option>
                                            <option value="asignados">Mostrar Asignados</option>
                                            <option value="noAsignados">Mostrar No Asignados</option>
                                        </select>
                                    </div>
                                    <table class="table" id="tablaEstudiantes">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Nombre</th>
                                                <th>Apellido</th>
                                                <th>Grado</th>
                                                <th>Seccion</th>
                                                <th>Asignar</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <!-- Utilizar Thymeleaf para iterar sobre los estudiantes -->
                                            <tr th:each="estudiante : ${estudiantes}"
                                                th:attr="data-asignado=${estudiante.gradoID != null}">
                                                <td th:text="${estudiante.id}"></td>
                                                <td th:text="${estudiante.nombre}"></td>
                                                <td th:text="${estudiante.apellido}"></td>
                                                <td>
                                                    <span th:if="${estudiante.gradoID != null}"
                                                        th:text="${estudiante.gradoID.nombreGrado}"></span>
                                                    <span th:unless="${estudiante.gradoID != null}">No Asignado</span>
                                                </td>
                                                <td>
                                                    <span th:if="${estudiante.seccionID != null}"
                                                        th:text="${estudiante.seccionID.nombreSeccion}"></span>
                                                    <span th:unless="${estudiante.seccionID != null}">No Asignado</span>
                                                </td>
                                                <td>
                                                    <button class="btn btn-primary"
                                                        th:if="${estudiante.gradoID == null}" data-toggle="modal"
                                                        data-target="#asignarModal"
                                                        data-id="${estudiante.id}">Asignar</button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                    <script th:inline="javascript">
                        $(document).ready(function () {
                            $('#filtroGradoSeccion').change(function () {
                                var filtro = $(this).val();

                                if (filtro === 'todos') {
                                    mostrarTodasFilas();
                                } else if (filtro === 'asignados') {
                                    mostrarFilasAsignadas();
                                } else if (filtro === 'noAsignados') {
                                    mostrarFilasNoAsignados();
                                }
                            });

                            $('#filtroGradoSeccion').trigger('change');
                        });

                        function mostrarTodasFilas() {
                            $('#tablaEstudiantes tbody tr').show();
                        }

                        function mostrarFilasAsignadas() {
                            $('#tablaEstudiantes tbody tr').hide();
                            $('#tablaEstudiantes tbody tr[data-asignado="true"]').show();
                        }

                        function mostrarFilasNoAsignados() {
                            $('#tablaEstudiantes tbody tr').hide();
                            $('#tablaEstudiantes tbody tr[data-asignado="false"]').show();
                            $('#tablaEstudiantes tbody tr[data-asignado="false"]').find('td:eq(3):contains("No Asignado")').parent().show();
                        }

                        $('#filtroGradoSeccion').on('change', function () {
                            $('select').not(this).prop('selectedIndex', 0);
                        });
                    </script>

                    <script>
                        // Obtener el elemento select de grados y secciones
                        const selectGrado = document.getElementById("selectGrado");
                        const selectSeccion = document.getElementById("selectSeccion");

                        // Escuchar el evento de cambio en el select de grados
                        selectGrado.addEventListener("change", function () {
                            const selectedGradoId = this.value;

                            // Realizar una solicitud AJAX para obtener las secciones por el grado seleccionado
                            fetch("/obtenerSecciones?gradoId=" + selectedGradoId)
                                .then(response => response.json())
                                .then(secciones => {
                                    // Limpiar las opciones anteriores en el select de secciones
                                    selectSeccion.innerHTML = '<option value="">Seleccionar Sección</option>';

                                    // Agregar las nuevas opciones al select de secciones
                                    secciones.forEach(seccion => {
                                        const option = document.createElement("option");
                                        option.value = seccion.id;
                                        option.textContent = seccion.nombreSeccion;
                                        selectSeccion.appendChild(option);
                                    });
                                })
                                .catch(error => console.error(error));
                        });
                    </script>

                    <!-- Content Row -->
                    <div class="row">

                        <!-- Content Column -->
                        <div class="col-lg-6 mb-4">



                            <div class="col-lg-6 mb-4">



                            </div>
                        </div>

                    </div>
                    <!-- /.container-fluid -->

                </div>
                <!-- End of Main Content -->

                <!-- Footer -->
                <div th:include="layout/footer :: footer"></div>
                <!-- End of Footer -->

            </div>
            <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>


        <!-- Bootstrap core JavaScript-->

        <script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

        <!-- Core plugin JavaScript-->
        <script th:src="@{/assets/vendor/jquery-easing/jquery.easing.min.js}"></script>

        <!-- Custom scripts for all pages-->
        <script th:src="@{/assets/js/sb-admin-2.js}"></script>

        <!-- Page level plugins -->
        <script th:src="@{/assets/vendor/chart.js/Chart.min.js}"></script>

        <!-- Page level custom scripts -->
        <script th:src="@{/assets/vendor/chart.js/Chart.min.js}"></script>
        <script th:src="@{/assets/js/demo/chart-pie-demo.js}" type="module"></script>

</body>

</html>