<!doctype html>
<html lang="en">

<head>
  <title>Conecta2</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" th:href="@{/assets/css/style.css}">

  <script src="https://apis.google.com/js/api.js"></script>
  <script src="https://accounts.google.com/gsi/client" async defer></script>

</head>

<body style="background-color: #162B4E;">
  <section class="ftco-section">
    <div class="container">
      <div class="row justify-content-center p-8">
        <div class="col-md-12 col-lg-10">
          <div class="wrap d-md-flex py-5">
            <div class="img"
              th:style="'background-image: url(' + @{/assets/images/logo_png_innova.png} + '); background-size: 200px 200px;'">
            </div>
            <div class="login-wrap p-4 p-md-5">
              <form action="#" class="signin-form py-5">
                <div class="form-group mb-3 text-center">
                  <h3 class="mb-4 text-center">Iniciar Sesion</h3>
                  <center>
                    <div id="g_id_onload"
                      data-client_id="803161019115-76bud0r5fo79se8cg0oi1ho7lnqhn79b.apps.googleusercontent.com"
                      data-callback="handleCredentialResponse">
                      <div class="g_id_signin" data-type="standard"></div>
                  </center>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer class="text-center py-4">
    <p>© 2023 Innova School. Todos los derechos reservados.</p>
  </footer>


  <script th:src="@{/assets/js/jquery.min.js}"></script>
  <script th:src="@{/assets/js/popper.js}"></script>
  <script th:src="@{/assets/js/bootstrap.min.js}"></script>
  <script th:src="@{/assets/js/main.js}"></script>

</body>

<script type="module">
  // Importe las funciones que necesita de los SDK
  import { initializeApp } from "https://www.gstatic.com/firebasejs/9.22.0/firebase-app.js";
  import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.22.0/firebase-analytics.js";
  import { getAuth } from "https://www.gstatic.com/firebasejs/9.22.0/firebase-auth.js";
  import { GoogleAuthProvider, signInWithPopup } from "https://www.gstatic.com/firebasejs/9.22.0/firebase-auth.js";
  import { signInWithCredential } from "https://www.gstatic.com/firebasejs/9.22.0/firebase-auth.js";

  // TODO: Add SDKs for Firebase products that you want to use
  // https://firebase.google.com/docs/web/setup#available-libraries

  //Firebase
  // For Firebase JS SDK v7.20.0 and later, measurementId is optional
  const firebaseConfig = {
    apiKey: "AIzaSyDX8Uc4Po4-rPKrzxh2JWkXxd16O7I1Eik",
    authDomain: "conectadosp-6c872.firebaseapp.com",
    projectId: "conectadosp-6c872",
    storageBucket: "conectadosp-6c872.appspot.com",
    messagingSenderId: "803161019115",
    appId: "1:803161019115:web:cff53e5d1c2c5a285e24ae",
    measurementId: "G-7VG5NV4KJK"
  };

  // Initialize Firebase
  const app = initializeApp(firebaseConfig);
  const analytics = getAnalytics(app);

  window.handleCredentialResponse = function (response) {
    console.log(response);

    // Verificar si el inicio de sesión fue exitoso
    if (response.credential) {
      const auth = getAuth();
      const googleCredential = GoogleAuthProvider.credential(response.credential);
      signInWithCredential(auth, googleCredential)
        .then((userCredential) => {
          // El inicio de sesión fue exitoso
          const user = userCredential.user;
          console.log("Inicio de sesión exitoso");
          // Redirigir al usuario a otra página
          window.location.href = 'prueba';
        })
        .catch((error) => {
          // Ocurrió un error al iniciar sesión
          const errorCode = error.code;
          const errorMessage = error.message;
          console.log("Error al iniciar sesión");
        });
    } else {
      console.log("Error al iniciar sesión");
    }
  }

</script>


</html>